# ignore everything (dirs, files, sub-dirs, sub-files)
/*

# but do not ignore the .gitignore file
!/.gitignore

# not ignore readme file
!/readme.org

# not ignore all .py files (config files)
!/src
/src/*
!/src/langton
!/src/utils
!/src/buttons
/src/langton/*
/src/utils/*
/src/buttons/*
!/src/**/*.py

# not ignore executable
!/exec

# documentation
# not ignore Doxyfile and researches
!/doc
/doc/*
!/doc/Doxyfile
!/doc/langton_researches.pdf
!/doc/README.md